<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Prediction Results</title>
        <style>
            body{
                background-color: whitesmoke;
                font-size: x-large;
            }
        </style>
    </head>
    <body>
        <center><h1> Probability of winning for each team as predicted by our Predictor </h1></center>
        {% if a %}
            <p> <strong>Probability of winning for team A </strong> {{ a_win }} </p>
        {% endif %}
        {% if b %}
            <p> <strong>Probability of winning for team B </strong> {{ b_win }} </p>
        {% endif %}
        {% if c %}
            <p> <strong>Probability of winning for team C </strong> {{ c_win }} </p>
        {% endif %}
        {% if d %}
            <p> <strong>Probability of winning for team D </strong> {{ d_win }} </p>
        {% endif %}
        {% if e %}
            <p> <strong>Probability of winning for team E </strong> {{ e_win }} </p>
        {% endif %}
        {% if f %}
            <p> <strong>Probability of winning for team F </strong> {{ f_win }} </p>
        {% endif %}
        {% if g %}
            <p> <strong>Probability of winning for team G </strong> {{ g_win }} </p>
        {% endif %}
        {% if h %}
            <p> <strong>Probability of winning for team H </strong> {{ h_win }} </p>
        {% endif %}
        {% if i %}
            <p> <strong>Probability of winning for team I </strong> {{ i_win }} </p>
        {% endif %}
        {% if j %}
            <p> <strong>Probability of winning for team J </strong> {{ j_win }} </p>
        {% endif %}
        {% if k %}
            <p> <strong>Probability of winning for team K </strong> {{ k_win }} </p>
        {% endif %}
        {% if l %}
            <p> <strong>Probability of winning for team L </strong> {{ l_win }} </p>
        {% endif %}
        {% if m %}
            <p> <strong>Probability of winning for team M </strong> {{ m_win }} </p>
        {% endif %}
        {% if n %}
            <p> <strong>Probability of winning for team N </strong> {{ n_win }} </p>
        {% endif %}
        {% if o %}
            <p> <strong>Probability of winning for team O </strong> {{ o_win }} </p>
        {% endif %}
        {% if p %}
            <p> <strong>Probability of winning for team P </strong> {{ p_win }} </p>
        {% endif %}
    </body>
</html>